<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
 
	
	<suite name="suite" verbose="2">
		<test name="test"> 
			<classes>
				<class name="testNG.TestNGTestCaseExample"></class>
				<class name="testNG.PriorityExample"></class>
				<class name="testNG.SkipTestCaseExample"></class>
			</classes>	
		</test>
	</suite>